apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: cluster-monitor
  namespace: monitoring
  labels:
    release: kube-prometheus
spec:
  namespaceSelector:
    matchNames: 
      - database
  selector:
    matchLabels:
      cnpg.io/cluster: cnpg-cluster
  podMetricsEndpoints:
  - port: metrics