apiVersion: v1
kind: Namespace
metadata:
  name: backend
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: postgres:16
        command: ["sleep", "3600"]
        env:
        - name: PGHOST
          value: cnpg-cluster-rw.database.svc.cluster.local
        - name: PGPORT
          valueFrom:
            secretKeyRef:
              name: cnpg-cluster-app
              key: port
        - name: PGDATABASE  
          valueFrom:
            secretKeyRef:
              name: cnpg-cluster-app
              key: dbname
        - name: PGUSER
          valueFrom:
            secretKeyRef:
              name: cnpg-cluster-app
              key: user
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: cnpg-cluster-app
              key: password
        resources: 
          requests: 
            cpu: 100m 
            memory: 100Mi 
          limits: 
            cpu: 100m 
            memory: 100Mi

              