apiVersion: external-secrets.io/v1alpha1
kind: ClusterPushSecret
metadata:
  name: pg-pushsecret
spec:
  pushSecretName: pg-pushsecret-v1
  namespaceSelectors:
    - matchLabels:
        kubernetes.io/metadata.name: database

  refreshTime: 24h

  pushSecretSpec:
    deletionPolicy: Delete
    refreshInterval: 24h
    secretStoreRefs:
      - name: gcs-backend
        kind: ClusterSecretStore
    selector:
      secret:
        name: cnpg-cluster-app
    data:
      - match:
          remoteRef:
            remoteKey: cnpg-cluster-app
